.nf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nf-title {
  text-align: center;
  margin-bottom: 32px;
}

.nf-text {
  text-align: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 32px;
}
