.button {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease-in;
}

.button:not(.button-disabled):hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button-disabled {
  background-color: #E6E6E6 !important;
  color: #444444 !important;
  cursor: default !important;
}

.button span {
  font-weight: 600;
}
