.layout {
  padding: 24px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}

.logo-img {
  margin: 40px auto 44px auto;
  width: 295px;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F5F9;
}
